/*======================================================

MAI Framework
Transferencia V3.2
Solo mejoras visuales

======================================================*/

/*------------------------------------------------------
Breadcrumb
------------------------------------------------------*/

.product-vip__breadcrumb .breadcrumb__link{
    color:#6F6F6F !important;
}

.product-vip__breadcrumb .breadcrumb__item{
    color:#9A9A9A !important;
}

/*------------------------------------------------------
Contenedor Empretienda
------------------------------------------------------*/

.product-vip__show-payment-offers-discount{

    padding:0 !important;

    margin:0;

    background:transparent !important;

    border:none !important;

}

/****************************************************/

.mai-transfer-card{

    position:relative;

    background:#F5FBF6;

    border:1px solid #C9E7D1;

    border-radius:12px;

    padding:22px 22px 22px 28px;

    overflow:hidden;

}

/****************************************************/

.mai-transfer-card::before{

    content:"";

    position:absolute;

    left:14px;

    top:18px;

    bottom:18px;

    width:3px;

    background:#7CBF8D;

    border-radius:5px;

}

/****************************************************/

.mai-transfer-header{

    margin-bottom:18px;

}

/****************************************************/

.mai-transfer-title{

    color:#16643F;

    font-size:20px;

    font-weight:600;

    line-height:1.35;

}

.mai-transfer-title strong{

    font-size:24px;

    font-weight:700;

}

/****************************************************/

.mai-transfer-subtitle{

    margin-top:4px;

    color:#16643F;

    font-size:20px;

    font-weight:500;

    line-height:1.35;

}

/****************************************************/

.mai-separator{

    width:100%;

    height:1px;

    background:#D8E7DB;

    margin:18px 0;

}

/****************************************************/

.mai-label{

    color:#4F4F4F;

    font-size:20px;

    font-weight:500;

}

/****************************************************/

.mai-price{

    margin-top:8px;

    color:#16643F;

    font-size:46px;

    font-weight:700;

    line-height:1.05;

}

/****************************************************/

.mai-saving{

    margin-top:8px;

    color:#16643F;

    font-size:34px;

    font-weight:700;

    line-height:1.1;

}
